    .header-store {
        overflow: hidden;
        color: #ffffff;
        margin-bottom: 110px;
        padding: 60px;
    }
    
    .header-store>.title {
        color: inherit;
        font-size: 40px;
        text-transform: uppercase;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        float: left;
        cursor: pointer;
    }
    
    .header-store>.navigation {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 21px;
        float: right;
    }
    
    .header-store [type="search"] {
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        color: inherit;
        font-family: Arial, "Roboto", sans-serif;
        font-size: 20px;
        padding: 8px;
        width: 358px;
        margin-right: 65px;
        vertical-align: bottom;
    }
    
    .header-store .action {
        display: inline-block;
        color: inherit;
        text-decoration: none;
        margin-right: 60px;
        padding-bottom: 8px;
        position: relative;
    }
    
    .header-store .action.-last {
        margin-right: 0;
    }
    
    .header-store .action:after {
        content: "";
        height: 1px;
        width: 100%;
        background: #ffffff;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transition: transform 250ms linear;
        transform-origin: left;
    }
    
    .header-store .action:hover:after {
        transform: scaleX(1)
    }
    
    @media(max-width: 1235px) {
        .header-store>.title {
            float: none;
            text-align: center;
            margin-bottom: 20px;
        }
        .header-store>.navigation {
            float: none;
            text-align: center;
        }
    }
    
    @media(max-width: 990px) {
        .header-store {
            padding-left: 30px;
        }
        .header-store [type="search"] {
            display: none;
        }
    }
    
    @media(max-width: 600px) {
        .header-store .action {
            margin-right: 30px;
        }
    }
    
    @media(max-width: 465px) {
        .header-store .action {
            margin-right: 15px;
        }
    }
    
    @media(max-width: 375px) {
        .header-store {
            padding-left: 16px;
        }
        .header-store .action {
            margin-right: 8px;
        }
    }
    
    @media(max-width: 335px) {
        .header-store>.navigation {
            display: none;
        }
    }